@model bookingMVC.ViewModels.BookVM
@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>

<div class="book">
    <form>

        <label>Værelser</label>
        <select name="roomCount">
            @foreach (var possibleRoom in Model.PossibleRooms)
            {
                <option value="@possibleRoom.RoomCount">
                    @possibleRoom.RoomCount
                </option>
            }
        </select>

        <label>Start</label>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-group date" id="startDate">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <label>Slut</label>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <div class="form-group">
                        <div class="input-group date" id="endDate">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br />
        <button>Find ledige værelser</button>
        
        <div id="results">
            
        </div>

    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
         
           
            $('#startDate').datetimepicker({
                locale: 'da'
                
            });

            $('#endDate').datetimepicker({
                locale: 'da'
            });
        });
    </script>   
}
